@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


html {
  overflow: scroll ;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #42befc;
  overflow: hidden;
  font-family: sans-serif;
}

.logo {
  padding: 0 20px;
  color: white;
}

.nav-links ul li {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  padding: 0 20px;
  font-size: 18px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
} 

.nav-links ul li a:hover {
  transition: all 0.3s ease 0s;
  color: #ffffffc1; 
}

button {
  background-color: white;
  border: none;
  color: black;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  transition: all 0.3s ease 0s;
  background-color: #60cfff;
  color: white;
  font-weight: 700;
  
}

/* hero section */

.hero {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #42befc;
  width: 100%;
  height: 50%;
  color: white;
}

.hero-text {
  position: absolute; /* Position the hero-text absolutely within the hero container */
  top: 15%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the hero-text */
  z-index: 2; /* Place hero-text above the image */
}

.hero-text h1 {
  font-family: 'Fraunces', serif;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
}


.hero-svg svg {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Adjust as needed */
  z-index: 10; /* Adjust if needed to bring forward or send back */
}

.hero-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative; /* Add relative positioning to the hero-img container */
}


.hero-img img {
  width: 100%;
  height: 100%; /* Adjust the height to fill the container */
  object-fit: cover;
  z-index: 1;
}

/* services section */

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.services-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 80px 90px 80px 90px;
}

.services-text h2 {
  font-family: 'Fraunces', serif;
  margin-bottom: 0;
  font-size: 30px;
}

.services-text p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.641);

}

.services-text a span {
  font-family: 'Fraunces', serif;
  font-size: 13px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.641);
  text-decoration: underline #feee5de3;
  text-underline-offset: 1px;
  text-decoration-thickness: 4px;
  text-decoration-color: #fefb5d;
}

.services-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

/* card section */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.card-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.card-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.card-img img {
  z-index: 1;
}

.card-img{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 90px 90px 90px 90px;
  margin-top: 40px;
  font-size: 18px;

}

.card-text h2 {
  font-family: 'Fraunces', serif;
  margin-bottom: 0;

}

.card-text p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.474);

}

.card-text a span {
  font-family: 'Fraunces', serif;
  font-size: 13px;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.641);
  text-decoration: underline #fe5d8dc1;
  text-underline-offset: 1px;
  text-decoration-thickness: 4px;
  text-decoration-color: #fe5d88;
}

.card-item-graphic {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-text-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 250px;
  z-index: 2;
  position: absolute;

}

.card-text-graphic h2 {
  font-family: 'Fraunces', serif;
  margin-bottom: 0;
  z-index: 2;
}

.card-text-graphic p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.443);
  padding: 0 120px 0 120px;
  z-index: 2;

}

/* Client testimonials */

.client-section {
  align-items: center;
  width: 100%;
  height: 100vh;
}

.client-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces', serif;
  font-size: 12px;
  letter-spacing: 5px;
  margin: 80px 0 0px 40px;
  color: rgba(0, 0, 0, 0.447);

}


.clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.client-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.client-img img{
  border-radius: 50%;
  width: 80px;
}

.client-card p {
  font-family: 'Barlow', sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.443);
  padding: 10px 50px 30px 50px;
  z-index: 2;
}

.client-text h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 132px; */
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */

footer {
  align-items: center;
  background-color: #91d6bd;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #35765e;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links ul li {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0 20px;
  font-size: 16px;
}

.footer-links ul li a {
  color: #35765e;
  text-decoration: none;
}

.footer-links ul li a:hover {
  transition: all 0.3s ease 0s;
  color: #ffffffc1; 
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

.footer-social ul li {
  display: inline-block;
  flex-direction: row;
  margin: 0 10px 0 10px;
}

.footer-social ul li a img:hover {
  transition: all 0.3s ease 0s;
  transform: scale(1.4);
}